# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## Project Specific
/build
/node_modules
/packages/db/node_modules
/packages/core/node_modules
/packages/rest/node_modules


## Yarn Error Log
yarn-error.log

# Local Environment Variables
.env
.env.*