$grey: rgb(128, 128, 128);
$grey-dark: darken(rgb(128, 128, 128), 10%);
$grey-darker: darken(rgb(128, 128, 128), 20%);
$grey-darkest: darken(rgb(128, 128, 128), 40%);
// $grey-darkest: red;
$grey-light: lighten(rgb(128, 128, 128), 10%);
$grey-lighter: lighten(rgb(128, 128, 128), 20%);
$grey-lightest: lighten(rgb(128, 128, 128), 40%);

$white: white;
